/*Colors and fonts*/

body {
   background: #EAEDF2;
   color: rgb(50,50,50);
   font-family: 'Lora',serif;
   font-size: 17px;
   font-weight: lighter;
}

a{
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	color: blue;
	font-weight: 600;
	font-size: 15px;
}

a:hover {
	color: black;
}


h1 {
   color: #203951;
   font-size: 32px;
   font-weight: bolder;
}


/*Custom design with class*/


.card-white {
	color: black;
	background: white;
	background-position: center;
	box-shadow: 0 10px 30px rgba(0,0,0,.1);
	margin: 20px auto;
	padding: 10px;
	width: 1000px;
	border-radius: 5px;
	text-align: center;
	line-height: 25px;
}

h1,h2,h3{
	font-family: 'Roboto', sans-serif;
}

.img-circle {
	border-radius: 40%;
}
.btn-blue {
	background-color: #DB594B;
	color: white;
	padding: 15px 20px;
	border-radius: 4px;
}
.btn-blue:hover {
	background-color: black;
	color: white;
}

.list-inline {
	list-style: none;
	padding: 0px;
}

.list-inline li {
	display: inline;
	padding: 10px ;
}

.fab,
.fa-facebook {
	font-size: 40px;
	color:blue;
}
 

@media (max-width: 500px) {
	.card-white{
		width: 400px;
	}
}


@media (max-width: 760px) {
	.card-white{
		width: 600px;
	}
}



